@import 'tailwindcss';

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility h-container {
  height: calc(100vh - 4rem);
  overscroll-behavior-y: contain;
}

@layer base {
  html,
  body {
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #000000;
    color: #ffffff;
  }
}

.text-wrapper {
  @apply flex flex-col space-y-3 max-w-4xl mx-auto;
}
.text-wrapper h3 {
  @apply text-2xl;
}
.text-wrapper h4 {
  @apply text-lg;
}
.text-wrapper ul {
  @apply list-disc mx-4 space-y-3;
}
